In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('UberDataset.csv')

In [6]:
df.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [7]:
df['trip_id'] = df.index

In [8]:
# datetime dimension
datetime_dim = df[['START_DATE', 'END_DATE']].reset_index(drop=True)
datetime_dim['start_hour'] = datetime_dim['START_DATE']
datetime_dim['start_day'] = datetime_dim['START_DATE']
datetime_dim['start_month'] = datetime_dim['START_DATE']
datetime_dim['start_year'] = datetime_dim['START_DATE']
datetime_dim['start_weekday'] = datetime_dim['START_DATE']

datetime_dim['end_hour'] = datetime_dim['END_DATE']
datetime_dim['end_day'] = datetime_dim['END_DATE']
datetime_dim['end_month'] = datetime_dim['END_DATE']
datetime_dim['end_year'] = datetime_dim['END_DATE']
datetime_dim['end_weekday'] = datetime_dim['END_DATE']

datetime_dim['datetime_id'] = datetime_dim.index

datetime_dim = datetime_dim[['datetime_id', 'START_DATE', 'start_hour', 'start_day', 'start_month', 'start_year', 'start_weekday',
                             'END_DATE', 'end_hour', 'end_day', 'end_month', 'end_year', 'end_weekday']]

print("Datetime Dimension")
print(datetime_dim.head())

Datetime Dimension
   datetime_id        START_DATE        start_hour         start_day  \
0            0  01-01-2016 21:11  01-01-2016 21:11  01-01-2016 21:11
1            1  01-02-2016 01:25  01-02-2016 01:25  01-02-2016 01:25
2            2  01-02-2016 20:25  01-02-2016 20:25  01-02-2016 20:25
3            3  01-05-2016 17:31  01-05-2016 17:31  01-05-2016 17:31
4            4  01-06-2016 14:42  01-06-2016 14:42  01-06-2016 14:42

        start_month        start_year     start_weekday          END_DATE  \
0  01-01-2016 21:11  01-01-2016 21:11  01-01-2016 21:11  01-01-2016 21:17
1  01-02-2016 01:25  01-02-2016 01:25  01-02-2016 01:25  01-02-2016 01:37
2  01-02-2016 20:25  01-02-2016 20:25  01-02-2016 20:25  01-02-2016 20:38
3  01-05-2016 17:31  01-05-2016 17:31  01-05-2016 17:31  01-05-2016 17:45
4  01-06-2016 14:42  01-06-2016 14:42  01-06-2016 14:42  01-06-2016 15:49

           end_hour           end_day         end_month          end_year  \
0  01-01-2016 21:17  01-01-2016 21:17  01-01-2016 21:17  01-01-2016 21:17
1  01-02-2016 01:37  01-02-2016 01:37  01-02-2016 01:37  01-02-2016 01:37
2  01-02-2016 20:38  01-02-2016 20:38  01-02-2016 20:38  01-02-2016 20:38
3  01-05-2016 17:45  01-05-2016 17:45  01-05-2016 17:45  01-05-2016 17:45
4  01-06-2016 15:49  01-06-2016 15:49  01-06-2016 15:49  01-06-2016 15:49

        end_weekday
0  01-01-2016 21:17
1  01-02-2016 01:37
2  01-02-2016 20:38
3  01-05-2016 17:45
4  01-06-2016 15:49

In [9]:
# category dimension
category_dim = df[['CATEGORY']].reset_index(drop=True)
category_dim['category_id'] = category_dim.index
category_dim = category_dim[['category_id', 'CATEGORY']]
print("\nCategory Dimension")
print(category_dim.head())

Category Dimension
   category_id  CATEGORY
0            0  Business
1            1  Business
2            2  Business
3            3  Business
4            4  Business

In [10]:
# start location dimension
start_location_dim = df[['START']].reset_index(drop=True)
start_location_dim['start_location_id'] = start_location_dim.index
start_location_dim = start_location_dim[['start_location_id', 'START']]
print("\nStart Location Dimension")
print(start_location_dim.head())

Start Location Dimension
   start_location_id        START
0                  0  Fort Pierce
1                  1  Fort Pierce
2                  2  Fort Pierce
3                  3  Fort Pierce
4                  4  Fort Pierce

In [11]:
# Create stop location dimension
stop_location_dim = df[['STOP']].reset_index(drop=True)
stop_location_dim['stop_location_id'] = stop_location_dim.index
stop_location_dim = stop_location_dim[['stop_location_id', 'STOP']]
print("\nStop Location Dimension")
print(stop_location_dim.head())

Stop Location Dimension
   stop_location_id             STOP
0                 0      Fort Pierce
1                 1      Fort Pierce
2                 2      Fort Pierce
3                 3      Fort Pierce
4                 4  West Palm Beach

In [12]:
# Create miles dimension
miles_dim = df[['MILES']].reset_index(drop=True)
miles_dim['miles_id'] = miles_dim.index
miles_dim = miles_dim[['miles_id', 'MILES']]
print("\nMiles Dimension")
print(miles_dim.head())

Miles Dimension
   miles_id  MILES
0         0    5.1
1         1    5.0
2         2    4.8
3         3    4.7
4         4   63.7

In [13]:
# Create purpose dimension
purpose_dim = df[['PURPOSE']].reset_index(drop=True)
purpose_dim['purpose_id'] = purpose_dim.index
purpose_dim = purpose_dim[['purpose_id', 'PURPOSE']]
print("\nPurpose Dimension")
print(purpose_dim.head())

Purpose Dimension
   purpose_id          PURPOSE
0           0   Meal/Entertain
1           1              NaN
2           2  Errand/Supplies
3           3          Meeting
4           4   Customer Visit

In [14]:
# Create the fact table
fact_table = df.merge(category_dim, left_on='trip_id', right_on='category_id') \
               .merge(start_location_dim, left_on='trip_id', right_on='start_location_id') \
               .merge(stop_location_dim, left_on='trip_id', right_on='stop_location_id') \
               .merge(miles_dim, left_on='trip_id', right_on='miles_id') \
               .merge(purpose_dim, left_on='trip_id', right_on='purpose_id') \
               .merge(datetime_dim, left_on='trip_id', right_on='datetime_id') \
               [['trip_id', 'datetime_id', 'category_id', 'start_location_id', 'stop_location_id', 'miles_id', 'purpose_id']]
print("\nFact Table")
print(fact_table)

Fact Table
      trip_id  datetime_id  category_id  start_location_id  stop_location_id  \
0           0            0            0                  0                 0
1           1            1            1                  1                 1
2           2            2            2                  2                 2
3           3            3            3                  3                 3
4           4            4            4                  4                 4
...       ...          ...          ...                ...               ...
1151     1151         1151         1151               1151              1151
1152     1152         1152         1152               1152              1152
1153     1153         1153         1153               1153              1153
1154     1154         1154         1154               1154              1154
1155     1155         1155         1155               1155              1155

      miles_id  purpose_id
0            0           0
1            1           1
2            2           2
3            3           3
4            4           4
...        ...         ...
1151      1151        1151
1152      1152        1152
1153      1153        1153
1154      1154        1154
1155      1155        1155

[1156 rows x 7 columns]

In [16]:
fact_table.to_csv('fact_table.csv',index=False)